body {
  font-family: "Poppins", sans-serif;
  background: hsl(0deg, 0%, 98%);
  height: 100vh;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
.main .all {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .all .text {
  display: flex;
  align-items: center;
  width: 500px;
  flex-direction: column;
  text-align: center;
}
.main .all .text .light {
  font-weight: 200;
  margin: 0px;
  font-size: 36px;
  color: hsl(234deg, 12%, 34%);
}
.main .all .text .bold {
  font-weight: 600;
  margin: 0px;
  font-size: 36px;
  color: hsl(234deg, 12%, 34%);
}
.main .all .text p {
  font-size: 15px;
  color: hsl(229deg, 6%, 66%);
}
.main .all .all-card {
  display: flex;
  width: 100%;
  align-items: center;
  height:650px;
  justify-content: center;
}
.main .all .all-card .supervisor {
  background: hsl(0deg, 0%, 98%);
  border-top: 5px solid hsl(180deg, 62%, 55%);
  border-radius: 10px;
  padding: 50px;
  margin-right: 30px;
  width: 300px;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
}
.main .all .all-card .supervisor h4 {
  margin: 0px;
  font-size: 23px;
  color: hsl(234deg, 12%, 34%);
}
.main .all .all-card .supervisor p {
  font-size: 15px;
  color: hsl(229deg, 6%, 66%);
}
.main .all .all-card .supervisor img {
  float: right;
}
.main .all .all-card .t-k {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
}
.main .all .all-card .t-k .team-builder {
  background: hsl(0deg, 0%, 98%);
  border-top: 5px solid hsl(0deg, 78%, 62%);
  border-radius: 10px;
  padding: 50px;
  width: 300px;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.main .all .all-card .t-k .team-builder h4 {
  margin: 0px;
  font-size: 23px;
  color: hsl(234deg, 12%, 34%);
}
.main .all .all-card .t-k .team-builder p {
  font-size: 15px;
  color: hsl(229deg, 6%, 66%);
}
.main .all .all-card .t-k .team-builder img {
  float: right;
}
.main .all .all-card .t-k .karma {
  background: hsl(0deg, 0%, 98%);
  border-top: 5px solid hsl(34deg, 97%, 64%);
  border-radius: 10px;
  padding: 50px;
  width: 300px;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
}
.main .all .all-card .t-k .karma h4 {
  margin: 0px;
  font-size: 23px;
  color: hsl(234deg, 12%, 34%);
}
.main .all .all-card .t-k .karma p {
  font-size: 15px;
  color: hsl(229deg, 6%, 66%);
}
.main .all .all-card .t-k .karma img {
  float: right;
}
.main .all .all-card .calculator {
  background: hsl(0deg, 0%, 98%);
  border-top: 5px solid hsl(212deg, 86%, 64%);
  border-radius: 10px;
  padding: 50px;
  width: 300px;
  margin-left: 30px;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
}
.main .all .all-card .calculator h4 {
  margin: 0px;
  font-size: 23px;
  color: hsl(234deg, 12%, 34%);
}
.main .all .all-card .calculator p {
  font-size: 15px;
  color: hsl(229deg, 6%, 66%);
}
.main .all .all-card .calculator img {
  float: right;
}
.main .attribution {
  font-size: 13px;
  text-align: center;
}
.main .attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (max-width: 1300px) {
  body .main .all .all-card .supervisor {
    padding: 30px;
  }
  body .main .all .all-card .t-k .team-builder {
    padding: 30px;
  }
  body .main .all .all-card .t-k .karma {
    padding: 30px;
  }
  body .main .all .all-card .calculator {
    padding: 30px;
  }
}
@media (max-width: 1170px) {
  body {
    height: 140vh;
  }
  body .main .all .text {
    width: 300px;
  }
  body .main .all .text .light {
    font-size: 24px;
  }
  body .main .all .text .bold {
    font-size: 24px;
  }
  body .main .all .all-card {
    height: 1072px;
    flex-direction: column;
  }
  body .main .all .all-card .supervisor {
    margin: 20px 0px;
  }
  body .main .all .all-card .t-k {
    height: 522px;
  }
  body .main .all .all-card .t-k .team-builder {
    margin-bottom: 20px;
  }
  body .main .all .all-card .t-k .karma {
    margin-bottom: 20px;
  }
  body .main .all .all-card .calculator {
    margin-left: 0px;
  }
}
@media (max-width: 400px) {
  body .main .all .all-card {
    height: 1000px;
  }
  body .main .all .all-card .supervisor {
    padding: 20px;
  }
  body .main .all .all-card .t-k {
    height: 480px;
  }
  body .main .all .all-card .t-k .team-builder {
    padding: 20px;
  }
  body .main .all .all-card .t-k .karma {
    padding: 20px;
  }
  body .main .all .all-card .calculator {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */
